
verflow-x:scroll;
        overflow-y:scroll;  
        font-family: calibri;
        min-width: 800px;

}
* {
  -moz-box-sizing: border-box;
}
body {
  font-size: 100%;

  background-color: #C0C0C0;
  margin: 0;
  padding: 0 0 2em 0;
}
header {
  background: #bdad9c url(http://bio1.uni.lu:8081/mirna/database/images/LCSB_header.png) no-repeat;
  /* header dimension! */
  height: 124px;
  //background-color: royalblue;
  background-size: 100% 100%;
  margin: 0;
  padding: 1em 4.1666667% 1em 4.1666667%;
  /* 40px / 960px = 4.1666667% */
 position: relative;
  overflow: visible;
  //  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}
nav {
  position:relative;
  width:100%;
  margin:0;
  padding:5px;
  padding-left:20px;
  text-align:left;
}
.dark {background:#2C3E50;}/*#2C3E50*/
.dark:checked {background:#170B3B;}/*#34495E*/
nav li {
  list-style:none;
  color:#fff;
  font-weight:4;
  display:inline-block;
}

nav li > a, a:visited {
  padding:5px;
  color:#fff;
  text-decoration:none;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

nav li > a:hover {
  background:rgba(0, 0, 0, 0.1);
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

input.nav-search {
  position:absolute;
  right:50px;
  top:5px;
  background:rgba(0, 0, 0, 0.1);
  -webkit-border-radius:6px;
     -moz-border-radius:6px;
          border-radius:6px;
  border:none;
  padding:5px;
  padding-left:15px;
  outline:none;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.nav-search:focus {
  background:#fff;
  font-weight:600;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.nav-search::-webkit-input-placeholder {
   color: #FFF;
}

.nav-search:-moz-placeholder { 
   color: #FFF;
}

.nav-search::-moz-placeholder {
   color: #FFF;
}

.nav-search:-ms-input-placeholder {  
   color: #FFF;
}

#page {
  width: 95%;
  //max-width: 960px;
  margin: 0 auto;
  padding-top: 0;
  border-radius: 0 0 1em 1em;
  box-shadow: 0 0 20px rgba(50, 50, 50, 0.5);
  overflow: hidden;
    
}
h1 {
    
   margin:0;
    margin-left:20%;
    margin-right:15%;
  font-family: 'Roboto Slab', Georgia;
  font-weight:500;
    font-size:35px;
  color: royalblue;
 
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  text-align:left;
 
}
#main {
  margin: 0;
  padding: 0 0 1em 0;
  background: #f5f5f5;
  background: rgba(245, 245, 245, 0.8);
  clear: both;/* no floating elements*/
}

#pagecontent {
  clear: right;
  background-color: #f5f5f5;
  margin: 0 auto;
  padding: 1em 4.1666667%  1em 4.1666667%;
  /* 40px / 960px = 4.1666667% */
  position: relative;
}
footer {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 4.1666667% 1em 4.1666667%;
  /* 40px / 960px = 4.1666667% */
  /*background-color: #E0E0E0;*/
  background-color: royalblue;
  color: white;
  font-size: 1em;
  line-height: 1.125em;
 
}
/* Page furniture */

@media (min-width: 43.75em) {
  #page {
    max-width: 960px;
  }
}
@media (min-width: 56.25em) {
  #page {
    max-width: 1400px;
  }
}
/* set up the format for factsheet table*/
table {
border-collapse: collapse; 
font-size:12px;
border:1px solid royalblue;
}

td + td,
th + th { border-left: 1px solid royalblue; }
tr + tr { border-top: 1px solid royalblue; }
/* Clean up the lists styles */
ul.accordion {
    list-style: none;
    margin: 0;  
 
}

/* Hide the radio buttons */
/* These are what allow us to toggle content panes */
ul.accordion .mycheckbox {
    display: none;   
}
.toclick{
    cursor: pointer;
}
ul.accordion .mycheckbox+label {
       background: url('http://bio1.uni.lu:8081/mirna/database/images/plus.gif') 0 0px no-repeat; 
       height: 16px;
       width: 16px;
       display:inline-block;
       padding: 0 0 0 0px;
   }
ul.accordion .mycheckbox:checked +label{  
       background: url('http://bio1.uni.lu:8081/mirna/database/images/minus.gif') 0 0px no-repeat; 
       height: 16px;
       width: 16px;
       display:inline-block;
       padding: 0 0 0 0px;

    }
/* Give each content pane some styles */

ul.accordion li {
   // background-color: #CCCCCC;
    border-bottom: 1px solid #DDDDDD;
}

/* Make the main tab look more clickable */

ul.accordion label {
    //background-color: #666666;
    //color: #FFFFFF;
   // display: block;
    //padding: 10px;
}



/* Set up the div that will show and hide */
ul.accordion div.content {
   
   padding: 0 10px;
    display: none;
}

/* Show the content boxes when the radio buttons are checked */
ul.accordion input[type=checkbox]:checked + label +div.content {
    display: block;
 
}


p{    
        text-align:justify;
        font-family: calibri;
        text-align:center;
}

a{
        text-align: middle;
        font-family: calibri;
}

ul.accordion A:link {text-decoration: none; color:royalblue}
ul.accordion A:visited {text-decoration: none; color:purple;}
ul.accordion A:active {text-decoration: none; color:royalblue;}
ul.accordion A:hover {text-decoration: underline; color: red;}

img
{
        vertical-align:middle;
        border-width:0px;
        
} 



div.linkbar {
        font-family:calibri;
	width: 1024px;
        height: 30px;
	border: 0px;
	background-color: #E0E0E0;
	padding: 0px;
        alignment-adjust: "right";
        text-align-last: "right";
        z-index:+1;
        position: fixed;
        margin-top: 5px;
        margin-left: 0px;
        

}
div.banner{
        font-family: calibri;
 	width: 1024px;
        height: 90px;
	border: 0px;
	background-color: white;
	padding: 0px;
        alignment-adjust: "right";
        text-align-last: "right";
        z-index:+1;
        position: fixed;
        margin-top: 35px;
        margin-left: 0px;
        
}
div.header{
        font-family: calibri;
   	width: 100%;
        height: 125px;
	border: 6px solid white;
        z-index:+1;
        position: fixed;
        margin-top:-18px;
        background-color: white;
        margin-left: -12px;
        margin-right: -12px;

}



div.small{    
        font-family: calibri;
        width: 1020px;
        text-align: justify;
	border: 0px solid black;
}

/* define height and width of scrollable area. Add 16px to width for scrollbar          */
div.tableContainer {
	clear: both;
	border: 0px solid black;
	width: 100%;
    
    overflow:auto;
    font:10px;
    text-align: center;
}

/* Reset overflow value to hidden for all non-IE browsers. */
html>body div.tableContainer {
	    width: 100%;
        border: 0px solid black;

}

/* define width of table. IE browsers only                 */
div.tableContainer table {
	float: left;
	width: 100%;
	border: 0px solid black;
    overflow-x:scroll;

}

/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
html>body div.tableContainer table {
	    width: 100%;
	    overflow-x:scroll;
        border: 0px solid black;

        
}

/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
thead.fixedHeader tr {
	position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
        
}

/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
html>body thead.fixedHeader tr {
	display: block;
        overflow-y: scroll;
        overflow-x: hidden;
        
}


/* make the TH elements pretty */
thead.fixedHeader th {
	background: #C96;
	border: 1px solid royalblue;
        font-weight: normal;
        overflow: auto;
        background-color:#3385FF;
        color:#ffffff;


}


.verticalText
{

        border:0px;
        white-space: nowrap;
        color: white;
        width: 100px;
        margin-bottom: 19px;
        padding-top: 22px;

        -webkit-transform: rotate(-90deg); 
        -moz-transform: rotate(-90deg);
        height:50px;
        font-family: calibri;  
        text-align: left;
        
}
.verticalText_evi
{

        border:0px;
        white-space: nowrap;
        color: yellow;
        width: 100px;
        margin-bottom: 19px;
        padding-top: 22px;
        font-weight: bold;
        -webkit-transform: rotate(-90deg); 
        -moz-transform: rotate(-90deg);
        height:50px;
        font-family: calibri;  
        text-align: left;
        
}


/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
html>body tbody.scrollContent {
	display: block;  
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
        width: 100%
}

/* make TD elements pretty. Provide alternating classes for striping the table */
/* http://www.alistapart.com/articles/zebratables/                             */
tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
	background: #FFF;
        border: 1px solid royalblue;

}

tbody.scrollContent tr.alternateRow td {
	background: #EEE;
        border: 1px solid royalblue;

}

/* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
/* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
thead.fixedHeader th {
	    //width: 100px;
        height: 240px;
        vertical-align: bottom;
        font-size: 15px;
        
        
}


/* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
/* All other non-IE browsers.                                            */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
tbody.scrollContent td {
	    //width: 100px;
        text-align: center;
        word-break: break-all;
        font-size: 14px;
        border: 1px solid royalblue;    
}
/*td#smallCell{*/
td.smallCell{
    width:30px;
    height:0px;
    padding-bottom: 0px;
    vertical-align: left;
    
}
.bigcell{
    width:100px;
    height:0px;
    padding-bottom: 0px;
    vertical-align: left;
    
}
/*th#smallCell{*/
th.smallCell{
    width:30px;
    height:0px;
    padding-bottom: 0px;
    vertical-align: left;

}
/*div#smallCell{*/
div#smallCell{
    width:30px;
    height:0px;
    padding-bottom: 0px;
    vertical-align: left;
    margin-bottom:11px;
    padding-top: 0px;
    height:20px;
}
a.biocompendium{
    vertical-align:center;
    font-size:12px;   
 
}
/*popup box*/
.popbox {
    display: none;
    position: absolute;
    z-index: 99999;
    width: 400px;
    padding: 10px;
    background: #EEEFEB;
    color: #000000;
    border: 1px solid #4D4F53;
    margin: 0px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
    box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
}
.popbox h2
{
    background-color: #3385FF;
    color:  #E3E5DD;
    font-size: 14px;
    display: block;
    width: 100%;
    margin: -10px 0px 8px -10px;
    padding: 5px 10px;
}
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_6.gif') center no-repeat #fff;
}
/*the rest is to form the dialog*/

.ui-widget.success-dialog {
    font-family: Verdana,Arial,sans-serif;
    font-size: .8em;
}

.ui-widget-content{
    background: #F9F9F9;
    border: 1px solid royalblue;
    color: #222222;
}

.ui-dialog{
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

 .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 1 !important;
    
    margin: 0;
}

 .ui-widget-header {
    background: royalblue;
    border: 0;
    color: #fff;
    font-weight: small;
}

.ui-dialog-titlebar {
    padding: 0.05em .25em;
    position: relative;
    font-size: 0.8em;
}

.inner-table {
	background: #FFF;
    border: 1px solid royalblue;
    padding-right: 2 !important;     

}
table.nas-table thead {
    border: 2px solid royalblue;
}
/*set css for the link out list table*/
table#button_list{
    border: 0;
    border-collapse:collapse;
    margin-left:36px;
    font-size: 100%;
}
#button_list td{
    border:none;
}
